<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{> header}}
            <p>This site was created by Prinshu Soni. It uses data from 
                <a href="https://www.mapbox.com/" target="_blank">https://www.mapbox.com/</a>
                 and 
                <a href="http://weatherstack.com/" target="_blank">http://weatherstack.com/</a>.
                </p>
            <img class="portrait" src="/img/robot.png" alt="Image not supported">
        </div>
        {{> footer}}
    </body>
</html>